html {
  color: white;
  font-family: arial;
}

body {
  height: 100%;
}

section.story-step {
  background: no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

section.setup {
  background-image: url('../img/setup.png');
}

section.confrontation {
  background-image: url('../img/confrontation.png');
}

section.climax {
  background-image: url('../img/climax.png');
}

a {
  color: white;
  font-weight: bold;
}
